@layout('main')

@section('content')
  <section>
    <img class="logo" src="/img/computer.svg">
    <h1 class="title">StoreJS!</h1>
    <p class="subtitle">Sistema de controle para lojas de informática.</p>
    <p class="tip">use as opções acima para começar ;)</p>
  </section>
@endsection
